@model IEnumerable<Apiario.Models.Cliente>
@{
    ViewBag.Title = "Gerenciar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gerenciar Cliente</h2>



<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomeUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idade)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpf)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idade)
            </td>
            <td>
                <a href="/Administrador/EditarCliente/@item.idCliente" class="btn btn-info"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <a href="/Administrador/DeletarCliente/@item.idCliente" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
    }


</table>


